# Entorno virtual
pilabs2/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Archivos temporales del sistema
.DS_Store
Thumbs.db
desktop.ini

# Distribuciones / empaquetado
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
*.log
